#admin-body {
    padding: 20px;
    min-height: 100vh;
}

.admin-add, .admin-update, .admin-delete, .delete-user, .admin-reactions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#admin-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#admin-btns {
    display: flex;
    gap: 20px;
}

.hidden {
    display: none;

}

.admin-h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #703452;
}

.admin-title {
    font-size: 16px;
    min-width: 700px;
    padding: 5px;
}

.editorContainer {
    min-width: 700px;
}

.ql-editor {
    min-height: 300px;
    max-width: 700px;
}

.editor  {
    padding: 10px;
    resize: none;
    min-width: 700px;
    min-height: 300px;
}

.admin-btn {
    margin-top: 20px;
    background-color: #ffcde8;
    color: #703452;
    border: 1px solid #a45d830a;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    scale: 1;
    transition: all 0.5s ease;
    width: max-content;
    padding: 6px 16px;
}

.admin-btn:hover {
    background-color: #703452;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    scale: 1.1;
    transition: all 0.5s ease;
}

#delete-table {
    border-collapse: collapse;
}

#delete-table th, #delete-table td {
    color: #703452;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#delete-table th {
    background-color: #f8a8d35b;
    font-weight: bold;
}

#delete-table div {
    padding: 8px;
}

#delete-table td:hover {
    background-color: #f8a8d325;
}

#delete-table th, #delete-table td {
    padding: 12px 15px;
}

#delete-table a {
    color: #703452;
    text-decoration: none;
}

#radio-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.admin-radio {
    display: none;
}

.admin-radio + label {
    padding: 10px 20px;
    font-size: 16px;
    color: #703452;
    background-color: #f8a8d3;
    border: 1px solid #703452;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.admin-radio:checked + label {
    background-color: #703452;
    color: #fff;
    border-color: #703452;
}

.admin-radio + label:hover {
    background-color: #703452;
    color: #fff;
}

.delete-lesson-btn {
    border: none;
    color: #703452;
    background-color: white;
}

.delete-lesson-btn:hover {
    color: #703452;
    text-decoration: underline;
    cursor: pointer;
}

#type-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#comm-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #f8a8d350;
    min-width: 700px;
    padding: 20px;
}

#one-comm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    min-width: 400px;
    color: #703452;
}

.likedislike {
    cursor: pointer;
    width: 30px;
    height: auto;
}

.likedislike:hover {
    border: 4px solid #a45d83;
    border-radius: 50%;
}

@media (max-width: 768px) {
    #admin-btns {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .admin-title {
        min-width: 300px;
    }

    .editorContainer {
        min-width: 300px;
    }

    .ql-editor {
        max-width: 300px;
    }

    .editor {
        min-width: 300px;
        min-height: 200px;
    }

    #comm-div {
        min-width: 300px;
    }

    #one-comm {
        min-width: 300px;
    }

    #delete-table th{
        display: block;
        width: 100%;
    }

    #delete-table td{
        display: block;
        width: 100%;
        position: relative;
        text-align: center;
        white-space: normal;
        text-overflow: ellipsis;
    }

    #delete-table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
    }

    #select-lesson {
        min-width: 100px;
        font-size: 10px;
    }

    option {
        font-size: 10px;
        width: 100%;
    }

    #delete-table thead{
        display: none;
    }
}