* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #703452;
}

a {
    text-decoration: none;
    color: #2769b5;
}

.padding-nav {
    padding: 16px 10%;
}

.container .nav {
    background-color: #703452;
    /* border-bottom: 1px solid #703452; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .nav img {
    height: 50px;
}

.container .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container .nav ul li {
    display: inline-block;
    margin-right: 16px;
}

.container .nav ul li:last-child {
    margin-right: 0;
}

.container .nav ul li a {
    padding: 4px 8px;
    color: #ffcde8;
}

.container .nav ul li a:hover {
    border-bottom: 1px solid #ffcde8;
}

.course-main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.course-main #course-title {
    font-family: "Poetsen One", sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 40px;
}

#course-cards {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin: 64px 0;
    gap: 20px;
}

.lesson-card {
    width: 300px;
    height: 350px;
    margin: 12px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    align-content: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    color: #703452;
    background-color: #ffcde87e;
}

.lesson-card img {
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
}

.lesson-card h3 {
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
}

.lesson-card h1{
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
}

.lesson-card {
    scale: 1;
    transition: scale 0.5s ease;
}

.lesson-card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    scale: 1.1;
    transition: scale 0.5s ease;
}

footer {
    padding: 12px 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #703452;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content i {
    padding-right: 5px;
}

footer p {
    text-align: center;
    padding-right: 10px;
}