.lesson-padding-nav {
    padding: 16px 10%;
}

.lesson-container .lesson-nav {
    background-color: #703452;
    /* border-bottom: 1px solid #703452; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#lesson-header {
    position: fixed;
    width: 100%;
}

#lesson-logo-img {
    height: 50px;
}

.lesson-container .lesson-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lesson-container .lesson-nav ul li {
    display: inline-block;
    margin-right: 16px;
}

.lesson-container .lesson-nav ul li:last-child {
    margin-right: 0;
}

.lesson-container .lesson-nav ul li a {
    padding: 4px 8px;
    color: #ffcde8;
}

.lesson-container .lesson-nav ul li a:hover {
    border-bottom: 1px solid #ffcde8;
}

.lesson-main {
    display: flex;
    flex: 1;
    padding-top: 82px;
}

#vertical-menu-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    padding-top: 83.5px;

}

.vertical-menu {
    width: 200px;
    background-color: #fff;
    padding: 10px;
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #fff;
    color: #703452;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid #703452;
}

.vertical-menu a:hover {
    background-color: #ffcde8;
}

.vertical-menu a.active {
    background-color: #703452;
    color: #fff;
}

.lesson-content {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    margin-left: 220px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.lesson-txt {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    /* min-height: 100vh; */
    margin-bottom: 60px;
}

.lesson-h1 {
    color: #703452;
    font-family: "Poetsen One", sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 36px;
}

.lesson-txt p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

#explain {
    color: #703452;
}

.test {
    margin-top: 20px;
    background-color: #ffcde8;
    border-radius: 20px;
    padding: 40px;
}

.test label {
    display: block;
    margin-bottom: 10px;
    color: #703452;
}

.test input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.test input[type="submit"] {
    background-color: #ffcde8;
    border: 1px solid #703452;
    color: #703452;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.test input[type="submit"]:hover {
    background-color: #703452;
    color: #fff;
}

#lesson-footer {
    padding: 12px 5%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.lesson-footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lesson-footer-p {
    text-align: center;
    color: #703452;
    padding-right: 10px;
}

#lesson-footer-icn-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #703452;
}

#comment-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(180deg, white, #ffcde8);
    padding: 40px;
}

.lesson-comment-form {
    color: #ffcde8;
    border-radius: 20px;
    border: 1px solid #703452;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
}

.lesson-comment-form label {
    display: block;
    margin-bottom: 10px;
}

.lesson-comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #703452;
    border-radius: 10px;
}

#lesson-subm {
    background-color: #ffcde8;
    border: 1px solid #703452;
    color: #703452;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    width: max-content;
}

#lesson-subm:hover {
    background-color: #703452;
    color: #fff;
}

#less-p {
    color: #703452;
    font-size: 16px;
    text-align: center;
}

.lesson-card h3 {
    color: #703452;
    font-size: 18px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

#like-div {
    display: flex;
    flex-direction: row;
    gap: 5px
}

[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type="radio"] + img {
    cursor: pointer;
    width: 40px;
    height: auto;
}

[type="radio"]:checked + img {
    border: 4px solid #a45d83;
    border-radius: 50%;
}

#ques-p {
    color: red;
    margin-bottom: 10px;
}

#comm-p {
    color: red;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .lesson-main {
        flex-direction: column;
        padding-top: 100px;
    }

    .lesson-content {
        margin-left: 0;
        padding-left: 100px;
        width: 100vw;
    }

}

@media (max-width: 768px) {
    .lesson-main {
        flex-direction: column;
        padding-top: 100px;
    }

    .lesson-content {
        margin-left: 0;
        padding-left: 60px;
        width: 100vw;
    }
}

@media (max-width: 480px) {
    .lesson-main {
        flex-direction: column;
        padding-top: 100px;
    }

    .lesson-content {
        margin-left: 0;
        padding-left: 80px;
        width: 100vw;
    }

    #lesson-footer {
        padding-left: 80px;
    }

}