#register-body {
    background-color: #ffcde8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #703452;
}

a:hover {
    border-bottom: 1px solid #703452;
}

.registration {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.content-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;

    border: 1px solid #ffcde8;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reg-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.reg-title #h1-reg {
    font-size: 46px;
    /* padding-bottom: 2px; */
    background: -webkit-linear-gradient(#ffcde8, #703452);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#reg-p-mess {
    /* padding-bottom: 15px; */
    color: #703452;
}

.reg-lbl {
    padding-bottom: 10px;
    color: #703452;
}

.reg-inp {
    margin-bottom: 10px;
    height: 30px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #703452;
    padding-left: 10px;
}

#sign-in-register {
    margin-top: 20px;
    background-color: #ffcde8;
    border-radius: 20px;
    padding: 6px 16px;
    color: #703452;
    border: 1px solid #a45d830a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    scale: 1;
    transition: all 0.5s ease;
    width: max-content;
}

#register-img {
    width: 500px;
    height: 400px;
}

.big-div-register {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#logo-title-register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#logo-img-reg {
    width: 50px;
}

#sign-in-register:hover {
    background-color: #703452;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    scale: 1.1;
    transition: all 0.5s ease;
}

@media (max-width: 1024px) {
    #register-body {
        padding-left: 10px;
        padding-right: 10px;
    }

    .content-register {
        flex-direction: column;
        padding: 20px;
    }

    #register-img {
        margin-bottom: 20px;
    }

    .reg-inp {
        width: 100%;
    }

    #sign-in-register {
        text-align: center;
        margin-bottom: 20px;

    }
}

@media (max-width: 950px) {
    #register-body {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content-register {
        width: 90%;
        padding: 15px;
    }

    .big-div-register {
        flex-direction: column;
        align-items: center;
    }

    #register-img {
        width: 100%;
        height: auto;
    }

    .reg-title #h1-reg {
        font-size: 30px;
    }

    .reg-inp {
        width: 90%;
    }

    #sign-in-register {
        text-align: center;
        margin-bottom: 20px;

    }
}

@media (max-width: 480px) {
    #register-body {
        padding-left: 10px;
        padding-right: 10px;
        min-height: 100vh;
        max-height: fit-content;
    }

    .content-register {
        width: 100%;
        padding: 10px;
    }

    .reg-title #h1-reg {
        font-size: 24px;
    }

    .reg-inp {
        width: 100%;
    }

    #sign-in-register {
        text-align: center;
        margin-bottom: 20px;
    }
}
