* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Painter;
    src: url(../fonts/PainterPersonalUseOnly-Br0w.ttf);
}

body {
    font-family: sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #2769b5;
}

.padding-nav {
    padding: 16px 10%;
}

.container .nav {
    background-color: #703452;
    /* border-bottom: 1px solid #703452; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .nav img {
    height: 50px;
}

.container .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container .nav ul li {
    display: inline-block;
    margin-right: 16px;
}

.container .nav ul li:last-child {
    margin-right: 0;
}

.container .nav ul li a {
    padding: 4px 8px;
    color: #ffcde8;
}

.container .nav ul li a:hover {
    border-bottom: 1px solid #ffcde8;
}

#us-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: white;
    color: #703452;
    gap: 20px;
}

#us-div h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

#us-div p {
    font-size: 20px;
}

#us-div img {
    width: 500px;
}

#access-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #ffcde8;
    color: #703452;
    gap: 20px;
}

#access-div h3 {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: right;
}

#access-div p {
    font-size: 20px;
    text-align: right;
}

#access-div img {
    width: 400px;
}

#join-div h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

#join-div p {
    font-size: 20px;
}

#join-div img {
    width: 350px;
}

#join-div {
    background-color: #ffcde8;
    color: #703452;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.wrapper {
	max-width: 600px;
	margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.wrapper h1 {
    font-size: 40px;
    margin-bottom: 1rem;
    color: #703452;
}

.wrapper ol {
	list-style: none;
	padding: 0;
}

.wrapper li + li {
	margin-top: 1rem;
}

.wrapper li {
	display: flex;
	align-items: center;
	gap: 1rem;
	background: #ffcde8;
    color: #703452;
	padding: 1.5rem;
	border-radius: 1rem;
	width: calc(100% - 2rem);
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

.wrapper li::before {
	counter-increment: list-item;
	content: counter(list-item);
	font-size: 3rem;
	font-weight: 700;
	width: 2em;
	height: 2em;
	background: #703452;
	flex: 0 0 auto;
	border-radius: 50%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper li:nth-child(even) {
	flex-direction: row-reverse;
	background: #f8a8d3;
    color: #703452;
	margin-right: -2rem;
	margin-left: 2rem;
}

#about-cards {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin: 64px 0;
    gap: 20px;
}

#about-cards .employ {
    width: 300px;
    height: 350px;
    margin: 12px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.347);
    overflow: hidden;
    align-content: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
    color: #703452;
}

.title-meet {
    text-align: center;
    margin-top: 50px;
    color: #703452;
}

.title-meet h1 {
    font-size: 30px;
    padding-bottom: 10px;
}

.title-meet p {
    font-size: 18px;
}

.employ img {
    width: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
}

.employ h3 {
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
}

.employ p{
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
}

.employ:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.1);
}

footer {
    padding: 12px 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #703452;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content i {
    padding-right: 5px;
}

footer p {
    text-align: center;
    padding-right: 10px;
}