* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #703452;
}

nav {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #703452;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.conteiner {
    display: grid;
    grid-template-columns: 1fr;
}

.logo-img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 16px;
}

nav a {
    color: white;
    text-decoration: none;
}

.motivation {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.motivation img {
    width: 500px;
}

#motivation-txt {
    display: grid;
    padding-right: 20px;
}

#motivation-txt h1 {
    padding-bottom: 20px;
    background: -webkit-linear-gradient(#703452, #ffcde8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#motivation-txt h2 {
    padding-bottom: 10px;
}

#motivation-txt h3 {
    padding-bottom: 5px;
}

#motivation-txt p {
    text-align: justify;
}

#course-div {
    display: grid;
}

.course {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

.course-lvl {
    display: grid;
    border: 1px solid #ffcde8;
    border-radius: 10px;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 12px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    background-color: #ffcde8;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.course-lvl img {
    width: 100px;
    padding-bottom: 20px;
}

#course-div {
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#course-div h2 {
    padding-bottom: 20px;
    text-align: center;
}

footer {
    padding: 16px 5%;
    border-top: 1px solid #703452;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    text-align: center;
}
