* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #703452;
}

nav {
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.conteiner {
    display: grid;
    grid-template-columns: 1fr;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 16px;
}

nav a {
    color: #703452;
    text-decoration: none;
}

#title {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
    /* background-color: #ffcde8; */
    background-image: url("../images/pic1.jpg");
    padding: 100px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
}

#title h1 {
    font-size: 50px;
}

#title p {
    font-size: 26px;
    padding-top: 10px;
}

.ilusimg {
    width: 100px;
}

footer {
    padding: 12px 5%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    padding-right: 10px;
}

