* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0; 
    padding: 0; 
    display: grid; 
    justify-content: center;
    align-items: center; 
    background-color: #ffcde8;
    color: #703452;
}

a {
    text-decoration: none;
    color: #703452;
}

a:hover {
    border-bottom: 1px solid #703452;
}

.registration {
    display: grid;
}

.content {
    border: 1px solid #ffcde8;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.reg-title {
    text-align: center;
}

.reg-title h1 {
    font-size: 46px;
    padding-bottom: 10px;
    background: -webkit-linear-gradient(#ffcde8, #703452);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reg-title p {
    padding-bottom: 30px;
}

form {
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

label {
    padding-bottom: 10px;
}

input {
    margin-bottom: 10px;
    height: 30px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #703452;
}

.sign-in {
    margin-top: 20px;
    background-color: #ffcde8;
    color: #703452;
    border: 1px solid #a45d830a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    scale: 1;
    transition: all 0.5s ease;
}

img {
    width: 400px;
}

.big-div {
    display: flex;
}

#logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#logo-title img {
    width: 50px;
}

.sign-in:hover {
    background-color: #703452;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    scale: 1.1;
    transition: all 0.5s ease;
}