#item-container {
    display: flex;
    background-color: rgb(246, 246, 195);
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 30px;
}

.item {
    background-color: green;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    flex-grow: 1;
    margin: 10px;
    color: white;
    text-align: center;
}

#item-2 {
    flex-grow: 2;
}

#table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

th {
    background-color: green;
    color: white;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: rgb(246, 246, 195);
}

td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
}

table tr:hover {
    background-color: rgba(240, 230, 140, 0.664);
}

